h1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: 350%;
}

.bookings-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.bookings-table thead tr {
    background-color: #9f73f0;
    color: #ffffff;
    text-align: left;
}

.bookings-table th,
.bookings-table td {
    padding: 12px 15px;
}

.bookings-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.bookings-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.bookings-table tbody tr:last-of-type {
    border-bottom: 2px solid #9f73f0;
}