h1 {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  font-size: 350%;
}

.checkout {
  display: flex;
  justify-content: center;
  justify-items: space-evenly;
  flex-wrap: wrap;
  column-gap: 100px;
  margin-top: 5%;
}

.summary {
  background: beige;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.summary h3 {
  margin-bottom: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 0.95rem;
}

.row.total {
  font-size: 1.1rem;
  font-weight: 600;
}

hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.confirm-button,
.cancel-button {
  margin: 20px 0;
  padding: 7px 10px;
  font-size: 1rem;
  font-weight: 600;
  background: #9f73f0;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  cursor: pointer;
}

.confirm-button:hover,
.cancel-button:hover {
  background: #6116ec;
}