h1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: 350%;
}

.home-images {
    display: flex;
    justify-content: center;
    justify-items: space-evenly;
    flex-wrap: wrap;
    column-gap: 100px;
    margin-top: 5%;
}

.home-images img {
    border-radius: 20px;
}

.search-cities {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.find-sitters {
    margin: 2px 0;
    padding: 2px 2px;
    font-size: 1.5rem;
    font-weight: 600;
}

#city-selector {
    background-color: antiquewhite;
    font-size: 1rem;
    font-weight: 300;
}

#city-button {
    margin: 2px 0;
    padding: 2px 10px;
    font-size: 1rem;
    font-weight: 600;
    background: #9f73f0;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#city-button:hover {
  background: #6116ec;
}

.cat-facts-heading {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

.cat-fact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20rem;
    padding: 20px;
    border: 1px solid black;
    column-gap: 10px;
    margin-bottom: 3%;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    color: rgb(255, 255, 255);
    background-color: #9f73f0;
    opacity: 100;
    transition: opacity 0.5s ease-in-out;
}
