h1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: 350%;
}

section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.chats {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.message-box {
    width: 350px;
}

.chat {
    display: inline-block;
    background: #72b8ff;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    color: #fff;
}

.chat.them {
    float: left;
    border-top-left-radius: 0px;
}

.chat.you {
    float: right;
    clear: both;
    background: #00D025;
    border-top-right-radius: 0px;
}

.message button {
    margin: 20px 0;
    padding: 7px 10px;
    font-size: 1rem;
    font-weight: 600;
    background: #9f73f0;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.message button:hover {
    background: #6116ec;
}

.go-back-button {
    margin: 20px 0;
    padding: 7px 10px;
    font-size: 1rem;
    font-weight: 600;
    background: #9f73f0;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.go-back-button:hover {
    background: #6116ec;
}