* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

ul {
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    font-size: 1.5rem;
    font-weight: 500;
}

ul li:hover {
    background: #9f73f0;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}